Awesome code
html, body {
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 105px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background: #000000;
}

h1,h2,h3,h4 {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: #FFFFFF;
  }


a {
    color: #FFFFFF;
}

.header {
  color: #fff;
  width: 800px;
  height: 200
	  px;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'Helvetica', 'Arial', 'Sans';
  padding: 5px 5px 5px 5px;
  width: 200px;
  height: 350px;
  float: left;

}

.bigletter{
  font-size: 36px;
  font-family: 'Helvetica'
}


.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
    background: #F06;
    color: #FFFFFF;
    text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #fff;
  text-decoration: none;
}
